<div class="card">
  <%# トップ部分 %>
  <div class="card-top">
    <div class="top-left">
      <div class="card-title">
        <h4>ライブキッズ</h4>
        <h3>プロフィールちょう</h3>
      </div>
      <div class="name-area">
        <h4>name</h4>
        <p>○○○○</p>
        <h4>X id</h4>
        <p>○○○○</p>
      </div>
    </div>
    <div class="top-right">
      <div>
        <div class="image-area">
          <%= image_tag "cat.png", class:"cat-image"%> 
        </div>
      </div>
    </div>
  </div>
  <%# トップ部分 %>

  <%# メイン部分 %>
  <div class="card-main">
    <p>わたしは<span>〇〇</span>生まれの<span>〇〇系</span>ライブキッズだよ！
    友達からは<span>〇〇</span>ってよばれることが多いよ♪
    すきな食べ物は<span>〇〇</span>で、きらいな食べ物は<span>〇〇</span>！
    ライブの日以外は<span>〇〇</span>をしている事が多くて、
    趣味は<span>〇〇</span>だよ！
    音楽を好きになったきっかけのバンドは<span>〇〇</span>で、
    初めて行ったライブは<span>〇〇</span>だよ！よろしくね♪</p>
  </div>
  <%# メイン部分 %>

  <%# ボトム部分 %>
  <div class="card-bottom">
    <div class="bottom-left">
      <div>
        <div class="bottom-text">
          <h4>\ 今日のライブ /</h4>
          <div class="live-area">
            <p>CDJ 2023 31日（希望）</p>
          </div>
        </div>
        <div class="hand-area">
          <%= image_tag "hand.png", class:"hand-image"%>
        </div>
      </div>
    </div>
    <div class="bottom-right">
      <div class="p-1">1</div>
      <div class="p-2">2</div>
      <div class="p-3">3</div>
      <h5>推しバンドランキング！</h4>
      <div class="rank-area">
        <div class="band-name">
          <p>Lucky Kilimanjaro</p>
        </div>
        <div class="band-name">
          <p>the dadadadys</p>
        </div>
        <div class="band-name">
          <p>Kroi</p>
        </div>
      </div>
    </div>
  </div>
  <%# ボトム部分 %>
</div>