<div class="card">
  <div class="card-top">
    <div class="top-left">
    </div>
    <div class="top-right">
    </div>
  </div>
  <div class="card-main">
  
  </div>
  <div class="card-bottom">
  
  </div>
</div>